DB_HOST=localhost
DB_USER=root
DB_PW=
DB_NAME=course-t6-test
AUTH_SECRET=test-auth-secret
PORT=3200
NODE_ENV=test
SEQUELIZE_SYNC_ALTER=true
ADMIN_FIRST_NAME=Test
ADMIN_LAST_NAME=Administrator
ADMIN_EMAIL=admin@example.test
ADMIN_UNIVERSITY_ID=test-admin-id
ADMIN_USERNAME=testadmin
ADMIN_PASSWORD=test-admin-password
