[Unit]
Description=NodeJS Course List App (team 6)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/2026/project3/t6/
ExecStart=/home/ubuntu/.nvm/versions/node/v24.13.0/bin/node server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
